body {
    color: #5a7174;
    background-color: white;
    padding-left: 10em;
    padding-top: 5em;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 900;
    font-style: normal;
}
      
